.top-bar-container{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    border: 1px solid red;
    justify-content: space-between;
    padding: 5px 50px;
    box-sizing: border-box;
}
.top-logo img{
    width: 200px;
    height: 50px;
    cursor: pointer;
}
.top-search{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    width: 50%;
    height: 35px;
    border: 1px solid green;
    padding-left: 15px;
}
.top-search input{
    border: none;
    background: inherit;
    outline: none;
    width: 93%;
}
.top-icons{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}
.top-search img,.top-icons img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.account-menu{
    position: absolute;
    width: 200px;
    height: 100px;
    background: white;
    top: 40px;
    left: -50px;
    z-index: 2;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.account-menu-logged{
    position: absolute;
    width: 200px;
    height: 125px;
    background: white;
    top: 40px;
    left: -50px;
    z-index: 2;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}